@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'vazir';
  src: url('../assets/fonts/Vazir.woff');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'vazir' !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ! =============================================      scroll bar      ============================================= */
body {
  --sb-track-color: #ebe8e8;
  --sb-thumb-color: #710b0b;
  --sb-size: 14px;
  overflow-x: hidden;
}

* ::-webkit-scrollbar {
  width: var(--sb-size)
}

* ::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

* ::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  *  {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/* ! =============================================      auth Layout      ============================================= */
.authLayout{
  background:linear-gradient(#ffffffef, #ffffffef) ,
  url('../assets/image/images.png')  center center fixed ;
}

.loadingLayout{
  background:linear-gradient(#800101ef, #800101ef) ,
  url('../assets/image/images.png')  center center fixed ;
}


/* ! =============================================      sidbar      ============================================= */
.isSidebar{
  width: 65% !important;
  transform: translateX(-120%);
  overflow-y: auto !important;
  height: 100vh !important;
}

.isSidebar.active {
  transition: all 1s ease-in-out;
  transform: translateX(0%);
}

.Accordion svg {
  color: #ffffff !important;
}

.sidebarLyer{
  width: 100% !important;
  transform: translateX(-120%) !important;
}

.sidebarLyer.active{
  transition: all 1.2s ease-in-out !important;
  transform: translateX(0%) !important;
}


/* ! =============================================      dashoard Layouyt      =================================================== */

.dashboardLayout{
  height: calc(100vh - 76px);
}


/* ! =============================================      cinema Layouyt      =================================================== */

.cinemaBG{
  background:linear-gradient(#00000053, #00000053) ,
  url('../assets/image/cbg.png') center no-repeat ;
  background-size: cover;
}

.infoSection{
  padding-top: 0px !important;
}
@media (min-width: 576px) {
  .infoSection{
    padding-top: 20px !important;
  }
}

.mainRows{
  width: 100% !important;
}